body{
    display: flex;
    margin: 10px;
}
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 10vw;
    border: 1px blue;
    border-style: groove;
    background-color: #4B85A4;
}
a{
    color: white;
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: center;
    color: gray;
    padding: 0;
    margin: 3px;
    width: 15vw;
    height: 3vw;
    background-color: lightgray;
}
.logop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkaidesineje{
    margin-top: -10px;
}
